<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="packages" />
  </config>
  <packageSources>
    <clear />
    <add key="PublicCI" value="https://pkgs.dev.azure.com/andrewarnott/OSS/_packaging/PublicCI/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="msft_consumption" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/msft_consumption/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <!-- Defend against user or machine level disabling of sources that we list in this file. -->
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="msft_consumption">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="System.*" />
      <package pattern="Microsoft.Bcl.*" />
      <package pattern="PolyType" />
    </packageSource>
    <packageSource key="PublicCI">
      <package pattern="Nerdbank.MessagePack" />
    </packageSource>
  </packageSourceMapping>
</configuration>
