<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="..\packages" />
  </config>
  <packageSources>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget.org/F/aarnott" value="https://www.myget.org/F/aarnott/api/v3/index.json" protocolVersion="3" />
    <add key="VSPackages" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/VS/nuget/v3/index.json" protocolVersion="3" />
    <add key="VSIDE-RealSigned-Release" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/VSIDE-RealSigned-Release/nuget/v3/index.json" protocolVersion="3" />
    <add key="VSIDE-CI" value="https://devdiv.pkgs.visualstudio.com/DefaultCollection/_packaging/VSIDE-CI/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
